.container {
  text-align: center;
}

img {
  margin-bottom: 1.3rem;
}

h1 {
  font-size: 1.2rem;
}

p {
  width: 18rem;
  margin: 2rem auto;
  line-height: 1.6;
}

.btn {
  border-style: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: var(--primary-1);
  color: white;
  font-weight: bold;
  margin-bottom: 1.3rem;
}

.btn:hover {
  cursor: pointer;
  background: var(--primary-2);
}