:root {
  --primary-1: hsl(176, 50%, 47%);
  --primary-2: hsl(176, 72%, 28%);
  --neutral-1: hsl(0, 0%, 0%);
  --neutral-2: hsl(0, 0%, 48%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Commissioner", sans-serif;
}

p {
  color: var(--neutral-2);
  font-size: 0.9rem;
  line-height: 1.9;
  margin-bottom: 1.8rem;
}

.hero {
  height: 300px;
  background-image: url("../public/images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media (min-width: 768px) {
  .hero {
    height: 400px;
    background-image: url("../public/images/image-hero-desktop.jpg");
  }
}
